/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 40px;
padding-right: 40px;
}

.row {
width: 100%;
max-width: 1600px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 0%;
float:left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */
@media only screen and (max-width: 1068px) {

	.row .headercol {
	width: 20%;
	}
	
	.row .onecol {
	width: 20%;
	}
	
	.row .ninecol {
	width: 40%;
	}
	
	.footerverticalline {
	padding-left:5px;
	}

	#footerphonecontact {
	display:inline;
	margin-right:0;
	}
	
	.row .signcol {
	width:20%;
	display:inline-block;
	}
	
	#newsletterwide {
	padding-left:10%;
	display:inline-block;
	}
	
	input.signupinput {
	size:5%;
	font-size:100%;
	}
}



@media only screen and (max-width: 460px) {
	
	.row {
	width: 100%;
	margin: 10px;
	overflow: hidden;
	}
	
	body {
	font-size: 1em;
	background: url(../img/mobile_bg.jpg);
	}
	
	header {
	display:none;
	}
	
	#footercontact {
	display:none;
	}
	
	#footerphonecontact {
	display:none;
	}
	
	#bg_video {
	display:none;
	}
	
	.singlecol{
	display:block;
	width:100%;
	margin-left:5px;
	margin-right:5px;
	margin-top:20px;
	}
	
	.verticalline {
	position:relative;
	border-left:none;
	border-bottom:thin solid #484848;
	position:relative;
	font-size:2.0em;
	height:20%;
	width:90%;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	}
	
	a.newsletteractivator,#newsletteractivator {
	display:block;
	padding:0;
	margin:0 auto;
	}
	
	.newsletteroverlay{
	background: transparent;
	}
	
	#newsletterwide{
	display:block;
	padding:0;
	}
	
	.newsletterbox,#newsletterbox{
	width:100%;
	height:100%;
	}
	
	.thanksbox,#thanksbox {
	width:100%;
	height:100%;
	display:block;
	}

	.row .thankscol {
	width: 100%;
	padding-bottom:10%;
	display:block;
	}
	
	#thanksrow {
	margin-left:0;
	display:block;
	}
	
	a.thanksclose {
	position:relative;
	display:block;
	margin-left:30%;
	}
	
	.row .signcol {
	width: 100%;
	padding-bottom:10%;
	}
	
	a.aboutactivator,#aboutactivator {
	display:block;
	padding:0;
	margin:0 auto;
	}

	.abouttext{
	display:none;
	}
	
	.aboutsinglecol{
	display:inline-block;
	}
	
	a {
	color:#000000;
	}
	
	p.signupnav {
	margin-left:0;
	margin-bottom:0;
	line-height:1.0;
	font-size:120%;
	text-align:left;
	}
	
	p.topnav {
	margin-bottom:10px;
	}
	
	#logo {
	margin-top:5%;
	margin-bottom:10%;
	margin-right:auto;
	margin-left:auto;
	}

	#newboxcol {
	position:fixed;
	width:20%;
	margin:0 auto;
	display:inline-block;
	}
	
	.row .twocol {
	width: 50%;
	display:block;
	}

	.row .fivecol {
	width: 100%;
	}
	
	input.signupinput {
	position:fixed;
	}
	
	.signup {
	margin-left:0px;
	}

}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

}